// Box style mixins
@mixin section-block($top-border-thickness, $top-border-colour, $background, $align-text) {
    border-top: solid $top-border-thickness $top-border-colour;
    background-color: $background;
    text-align: $align-text;
}


// Text style mixins
@mixin section-text($text-colour, $padding, $margin, $font-size, $link-colour) {
    color: $text-colour;
    padding: $padding;
    margin: $margin;
    font-size: $font-size;

    a {
        color: $link-colour;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Icon style mixins
@mixin footer-icon-style($height, $width){
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: $height;
    width: $width; 
}

//Padding and margins
@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
