// External site CSS //
.footer-box {
    @include section-block(2px, $student-footer-background, $student-footer-background, 3em 0 0 0, center, 1em 4em 0em 4em);

    @include breakpoint(medium) {
        @include section-block(2px, $student-footer-background, $student-footer-background, 3em 0 0 0, left, 1em 4em 0em 4em);
        min-height: 26.25em;

    }
}

.footer-text {
    @include section-text($white, 0, 1em, 0.75em, $white);

    @include breakpoint(medium) {
        margin: 1em 1em 1em 1em;
    }
}

.footer-inline-links {
    margin: 0;

    @include breakpoint(medium) {
        justify-content: left;
    }

    li {
        list-style-type: none;
        display: inline;
        margin-right: 0.5rem;
    }
}




