.icon-social-twitter {
    @include svg(icon-social-twitter-white);
    @include footer-icon-style();
    &onhover {
        cursor: hand;
    }
}

.icon-social-instagram {
    @include svg(icon-social-instagram-white);
    @include footer-icon-style();
    &onhover {
        cursor: hand;
    }
}

.icon-social-facebook {
    @include svg(icon-social-facebook-white);
    @include footer-icon-style();
    &onhover {
        cursor: hand;
    }
}

.icon-social-vimeo {
    @include svg(icon-social-vimeo-white);
    @include footer-icon-style();
    &onhover {
        cursor: hand;
    }
}

.icon-social-youtube {
    @include svg(icon-social-youtube-white);
    @include footer-icon-style();
    &onhover {
        cursor: hand;
    }
}

.hide-text {
    height: 1px;
    width: 1px;
    margin: 0;
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
}
