<div class="footer-box">
    <div class="grid-x">
        <!-- This is the icons for social media platforms. Greyed for now as icons are missing fom template
        <ul class="medium-6 cell">
            <li><a class="icon icon-social-twitter" title="Twitter" href="https://twitter.com/sussexuni"><span
                        class="show-for-sr">Twitter</span></a></li>
            <li><a class="icon icon-social-facebook" title="Facebook" href="https://www.facebook.com/uniofsussex"><span
                        class="show-for-sr">Facebook</span></a></li>
            <li><a class="icon icon-social-instagram" title="Instagram" href="https://www.instagram.com/sussexuni"><span
                        class="show-for-sr">Instagram</span></a></li>
            <li><a class="icon icon-social-youtube" title="YouTube" href="https://www.youtube.com/user/universityofsussex"><span
                        class="show-for-sr">YouTube</span></a></li>
            <li><a class="icon icon-social-vimeo" title="Vimeo" href="https://vimeo.com/uniofsussex"><span
                        class="show-for-sr">Vimeo</span></a></li>
        </ul>
        -->
        <div class="medium-6 cell">
            <section class="footer-text">
                <!-- span may not be needed here. Could group all together -->
                University of Sussex<br>Sussex House, Falmer<br>Brighton BN1 9RH<br>United Kingdom<br>
            </section>

            <section class="footer-text">
                Course and student enquiry:<br>
                <a class="tel" href="tel:+441273876787">+44 (0)1273 876787</a><br>
                <a class="email" href="mailto:study@sussex.ac.uk">study@sussex.ac.uk</a>
            </section>
            
            <section class="footer-text">
                For general enquiries:<br>
                <a class="tel" href="tel:+441273606755">+44 (0)1273 606755</a><br>
                <a class="email" href="mailto:information@sussex.ac.uk">information@sussex.ac.uk</a>
            </section>

            <section class="footer-text">
                <small class="copyright">Copyright &copy; 2019, University of Sussex</small>
            </section>

            <section class="footer-text">
                <ul class="footer-menu">
                    <li ><a href="/aboutus/website/accessibility">Accessibility</a></li>
                    <li><a href="/aboutus/website/privacy">Privacy</a></li>
                    <li><a href="/aboutus/website/cookies">Cookies</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>

