<div class="footer-box">
    <div class="grid-x grid-margin-x">

        {{#ifequal type 'external'}}
            <section class="medium-shrink cell medium-order-2">
                <ul class="menu align-center footer-inline-links">         
                    <li><a class="icon-social-twitter" title="Twitter" href="https://twitter.com/sussexuni"><span
                                class="hide-text">Twitter</span></a></li>
                    <li><a class="icon-social-facebook" title="Facebook" href="https://www.facebook.com/uniofsussex"><span
                                class="hide-text">Facebook</span></a></li>
                    <li><a class="icon-social-instagram" title="Instagram" href="https://www.instagram.com/sussexuni"><span
                                class="hide-text">Instagram</span></a></li>
                    <li><a class="icon-social-youtube" title="YouTube" href="https://www.youtube.com/user/universityofsussex"><span
                                class="hide-text">YouTube</span></a></li>
                    <li><a class="icon-social-vimeo" title="Vimeo" href="https://vimeo.com/uniofsussex"><span
                                class="hide-text">Vimeo</span></a></li>
                </ul>
            </section>


            <div class="medium-auto cell">
                <section class="footer-text">
                    <!-- span may not be needed here. Could group all together -->
                    University of Sussex<br>Sussex House<br> Falmer<br>Brighton BN1 9RH<br>United Kingdom<br>
                </section>

                <section class="footer-text">
                    Course and student enquiry:<br>
                    <a class="tel" href="tel:+441273876787">+44 (0)1273 876787</a><br>
                    <a class="email" href="mailto:study@sussex.ac.uk">study@sussex.ac.uk</a>
                </section>
                
                <section class="footer-text">
                    For general enquiries:<br>
                    <a class="tel" href="tel:+441273606755">+44 (0)1273 606755</a><br>
                    <a class="email" href="mailto:information@sussex.ac.uk">information@sussex.ac.uk</a>
                </section>

                <section class="footer-text">
                    <small class="copyright">Copyright &copy; 2019, University of Sussex</small>
                </section>

                <section class="footer-text">
                    <ul class="footer-inline-links">
                        <li ><a href="/aboutus/website/accessibility">Accessibility</a></li>
                        <li><a href="/aboutus/website/privacy">Privacy</a></li>
                        <li><a href="/aboutus/website/cookies">Cookies</a></li>
                    </ul>
                </section>
            </div>
        {{/ifequal}}

        {{#ifequal type 'student'}}
            <section class="footer-text medium-4 large-3 cell align-center">
                <hr class="footer-hr">
                <a  title="Logo" href="https://www.sussex.ac.uk"><img class="footer-logo" src="/assets/img/icons/logo-white.svg" alt="University of Sussex logo"></a><br>
                <!-- span may not be needed here. Could group all together -->
                University of Sussex<br>Sussex House<br> Falmer<br>Brighton BN1 9RH<br>United Kingdom<br>
            </section>
            <section class="footer-text medium-4 large-3 large-offset-3 cell align-center">
                <hr class="footer-hr">
                <span class="footer-head-text">Contact us:</span><br>
                <a class="tel" href="tel:+441273606755">+44 (0)1273 606755</a><br>
                <a class="email" href="mailto:information@sussex.ac.uk">information@sussex.ac.uk</a>
            </section>
            <section class="medium-4 large-3 cell footer-text align-center">
                <hr class="footer-hr">
                <span class="footer-head-text">Connect with us:</span><br>
                <ul class="menu align-center footer-inline-links">
                    <li><a class="icon-social-twitter" title="Twitter" href="https://twitter.com/sussexuni"><span
                                class="hide-text">Twitter</span></a></li>
                    <li><a class="icon-social-facebook" title="Facebook" href="https://www.facebook.com/uniofsussex"><span
                                class="hide-text">Facebook</span></a></li>
                    <li><a class="icon-social-instagram" title="Instagram" href="https://www.instagram.com/sussexuni"><span
                                class="hide-text">Instagram</span></a></li>
                    <li><a class="icon-social-youtube" title="YouTube" href="https://www.youtube.com/user/universityofsussex"><span
                                class="hide-text">YouTube</span></a></li>
                    <li><a class="icon-social-vimeo" title="Vimeo" href="https://vimeo.com/uniofsussex"><span
                                class="hide-text">Vimeo</span></a></li>
                </ul><br>
                Donwload our app (not a link currently)<br><br>
                Policies (including privacy and cookies)<br>
                Copyright © 2019, University of Sussex
            </section>
        {{/ifequal}}

    </div>
</div>

