<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <div class="primary callout">
      <p>
        <strong>This is a twelve cell section in a grid-x.</strong> Each of
        these includes a div.callout element so you can see where the cell are -
        it's not required at all for the grid.
      </p>
    </div>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="large-6 medium-6 cell">
    <div class="primary callout">
      <p>Six cell</p>
    </div>
  </div>
  <div class="large-6 medium-6 cell">
    <div class="primary callout">
      <p>Six cell</p>
    </div>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <div class="large-4 medium-4 small-4 cell">
    <div class="primary callout">
      <p>Four cell</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-4 cell">
    <div class="primary callout">
      <p>Four cell</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-4 cell">
    <div class="primary callout">
      <p>Four cell</p>
    </div>
  </div>
</div>

<hr />
