// Icons for the student site

.icon-logo{
    @include svg(logo);
    @include footer-icon-style(1em, 1em);
    &onhover {
        cursor: hand;
    }
}

.icon-social-twitter {
    @include svg(icon-social-twitter-white);
    @include footer-icon-style(1em, 1em);
    @include margin(0.5em, 0.5em, 0, 0);
    &onhover {
        cursor: hand;
    }
}

.icon-social-instagram {
    @include svg(icon-social-instagram-white);
    @include footer-icon-style(1em, 1em);
    @include margin(0.5em, 0.5em, 0, 0);
    &onhover {
        cursor: hand;
    }
}

.icon-social-facebook {
    @include svg(icon-social-facebook-white);
    @include footer-icon-style(1em, 1em);
    @include margin(0.5em, 0.5em, 0, 0);
    &onhover {
        cursor: hand;
    }
}

.icon-social-vimeo {
    @include svg(icon-social-vimeo-white);
    @include footer-icon-style(1em, 1em);
    @include margin(0.5em, 0.5em, 0, 0);
    &onhover {
        cursor: hand;
    }
}

.icon-social-youtube {
    @include svg(icon-social-youtube-white);
    @include footer-icon-style(1em, 1em);
    @include margin(0.5em, 0.5em, 0, 0);
    &onhover {
        cursor: hand;
    }
}

.hide-text {
    height: 1px;
    width: 1px;
    margin: 0;
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
}
